{% extends 'bootstrap3/bootstrap3.html' %}
{% load bootstrap3 %}
{% block bootstrap3_title %}
  {% block title %}{% endblock %}
{% endblock %}
{% block bootstrap3_extra_head %}
  {% load static %}
  <link href="{% static 'css/bootstrap-table.min.css' %}" rel="stylesheet">
  <link href="{% static 'css/style.css' %}" rel="stylesheet">
  <link href="{% static 'favicon.ico' %}"
        rel="shortcut icon"
        type="image/ico">
{% endblock %}
{% block bootstrap3_content %}
  {% include 'soft/nav.html' %}
  {% block content %}(no content){% endblock %}
{% endblock %}
{% block bootstrap3_extra_script %}
  <script src="{% static 'js/bootstrap-table.min.js' %}"></script>
  <script src="{% static 'js/bootstrap-table-ru-RU.min.js' %}"></script>
  <script src="{% static 'js/bootstrap-table-mobile.min.js' %}"></script>
  <script src="{% static 'js/main.js' %}"></script>
{% endblock %}
